
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39;');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Oxanium', cursive;
}

body{
    background-color: rgb(185, 213, 215);
    background-image:url(../media/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}

.image{
display: flex;
flex-direction: column;
align-items: center;
}


.botones button {
    background-color: rgb(57, 57, 57);
    border: 1px solid black;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
}


